

<%=@session%>

<img src= <%=@image%>/> 
<h1>Welcome to Hangman</h1>
<h4>Enter a letter a click guess to play!</h4>

<form>
     <input type="text" name='guess'>
     <input type="submit" value='Guess!'>
</form>

<p>Guesses Remaining - <%=@@guessesz%></p> <br>
<%=@message%>
